* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    text-align: center;
}

body {
    width: 100%;
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    justify-items: center;
    row-gap: 0.4rem;
}

header {
    width: 100%;
    grid-area: 1 / 1 / span 2 / span 1;
}

main {
    width: 90%;
    grid-area: 3 / 1 / span 3 / span 1;
}

footer {
    width: 100%;
    grid-area: 6 / 1 / span 1 / span 1;
}